@import "../../app.component.scss";

.mat-card.detail_card{
    .mat-card-actions.assign_btn {
        display: block;
        top: auto;
        bottom: 0;
        margin-bottom: 0;
        padding-bottom: 8px;

        .mat-button{
            border-radius: 25px;
            padding: 0 15px;
            margin-right: 10px;
            line-height: 1.8;
            transition: all 0.3s ease-in-out;

            &:hover{
                box-shadow: 0 3px 6px rgba(0,0,0,0.16);
            }
            .btn_name{
                opacity: 0;
                font-size: 0;
            }
        }
    }
    &:hover{
        .mat-card-actions.assign_btn{
            .mat-button{
                &.asign{
                    background-color: $secondary;
                    color: $white;
                }
                &.update{
                    background-color: $green;
                    color: $white;
                }
                .btn_name{
                    opacity: 1;
                    font-size: inherit;
                }
                svg{
                    opacity: 0;
                    width: 0;
                }
            }
        }
    }
} 
.mat-card.detail_card h4{
    @include flex(flex, wrap, center, center);
    svg{
        margin-right: 5px;
    }
}