<div class="title_bar">
    <h2>Customers</h2>
</div>
<div class="action_items">
    <input type="text" placeholder="Search">
    <!-- <button mat-button>
        <svg xmlns="http://www.w3.org/2000/svg" width="13.189" height="13.24" viewBox="0 0 13.189 13.24">
            <g id="keyboard-buttons-or-visualization-button-of-nine-squares" transform="translate(0 0)">
                <path id="Path_298" data-name="Path 298" d="M5.444.412A.411.411,0,0,0,5.032,0H2.262A.411.411,0,0,0,1.85.412V3.184a.411.411,0,0,0,.412.412H5.034a.411.411,0,0,0,.412-.412V.412Z" transform="translate(-1.85)" fill="#272e33"/>
                <path id="Path_299" data-name="Path 299" d="M355.144.412A.411.411,0,0,0,354.732,0h-2.771a.411.411,0,0,0-.412.412V3.184a.411.411,0,0,0,.412.412h2.771a.411.411,0,0,0,.412-.412Z" transform="translate(-346.753)" fill="#272e33"/>
                <path id="Path_300" data-name="Path 300" d="M704.844.412A.411.411,0,0,0,704.432,0h-2.771a.411.411,0,0,0-.411.412V3.184a.411.411,0,0,0,.411.412h2.772a.411.411,0,0,0,.411-.412V.412Z" transform="translate(-691.656)" fill="#272e33"/>
                <path id="Path_301" data-name="Path 301" d="M5.444,352.012a.411.411,0,0,0-.412-.411H2.262a.411.411,0,0,0-.412.411v2.771a.411.411,0,0,0,.412.411H5.034a.411.411,0,0,0,.412-.411v-2.771Z" transform="translate(-1.85 -346.777)" fill="#272e33"/>
                <path id="Path_302" data-name="Path 302" d="M355.144,352.012a.411.411,0,0,0-.412-.411h-2.771a.411.411,0,0,0-.412.411v2.771a.411.411,0,0,0,.412.411h2.771a.411.411,0,0,0,.412-.411Z" transform="translate(-346.753 -346.777)" fill="#272e33"/>
                <path id="Path_303" data-name="Path 303" d="M704.844,352.012a.411.411,0,0,0-.411-.411h-2.771a.411.411,0,0,0-.411.411v2.771a.411.411,0,0,0,.411.411h2.772a.411.411,0,0,0,.411-.411v-2.771Z" transform="translate(-691.656 -346.777)" fill="#272e33"/>
                <path id="Path_304" data-name="Path 304" d="M5.032,703.1H2.262a.411.411,0,0,0-.412.411v2.772a.411.411,0,0,0,.412.412H5.034a.411.411,0,0,0,.412-.412v-2.772A.414.414,0,0,0,5.032,703.1Z" transform="translate(-1.85 -693.456)" fill="#272e33"/>
                <path id="Path_305" data-name="Path 305" d="M354.732,703.1h-2.771a.411.411,0,0,0-.412.411v2.772a.411.411,0,0,0,.412.412h2.771a.411.411,0,0,0,.412-.412v-2.772A.412.412,0,0,0,354.732,703.1Z" transform="translate(-346.753 -693.456)" fill="#272e33"/>
                <path id="Path_306" data-name="Path 306" d="M704.432,703.1h-2.771a.411.411,0,0,0-.411.411v2.772a.411.411,0,0,0,.411.412h2.772a.411.411,0,0,0,.411-.412v-2.772A.414.414,0,0,0,704.432,703.1Z" transform="translate(-691.656 -693.456)" fill="#272e33"/>
            </g>
        </svg>
        Grid
    </button>
    <button mat-button>
        <svg xmlns="http://www.w3.org/2000/svg" width="18.29" height="13.018" viewBox="0 0 18.29 13.018">
            <g id="list" transform="translate(0 0)">
                <g id="_x33__11_" transform="translate(0 0)">
                <g id="Group_129" data-name="Group 129" transform="translate(0 0)">
                    <path id="Path_307" data-name="Path 307" d="M.653,115.072a.727.727,0,0,0,0,1.446.727.727,0,0,0,0-1.446Zm0,5.786a.727.727,0,0,0,0,1.446.727.727,0,0,0,0-1.446Zm3.919-10.125H17.636a.727.727,0,0,0,0-1.446H4.572a.727.727,0,0,0,0,1.446ZM.653,109.286a.727.727,0,0,0,0,1.446.727.727,0,0,0,0-1.446Zm16.983,11.572H4.572a.727.727,0,0,0,0,1.446H17.636a.727.727,0,0,0,0-1.446Zm0-5.786H4.572a.727.727,0,0,0,0,1.446H17.636a.727.727,0,0,0,0-1.446Z" transform="translate(0 -109.286)" fill="#272e33"/>
                </g>
                </g>
            </g>
        </svg>
        List
    </button> -->
</div>
<div class="row grid-view">
    <div class="col col-3">
        <a routerLink="/admin/customers/add-customer" mat-button class="add_btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="58" height="58" viewBox="0 0 58 58">
                <g transform="translate(-319 -193)">
                    <circle cx="29" cy="29" r="29" transform="translate(319 193)" fill="#f94a46" />
                    <g transform="translate(338 211.999)">
                        <path
                            d="M18.75,8.751h-7.5v-7.5a1.25,1.25,0,1,0-2.5,0v7.5H1.25a1.25,1.25,0,1,0,0,2.5h7.5v7.5a1.25,1.25,0,1,0,2.5,0v-7.5h7.5a1.25,1.25,0,1,0,0-2.5Z"
                            transform="translate(0 0)" fill="#fff" fill-rule="evenodd" />
                    </g>
                </g>
            </svg>
            Add Customer
        </a>
    </div>
    <div class="col col-3" *ngFor="let customer of customers">
        <mat-card class="detail_card">
            <img src="../../../assets/img/hind_logo.png">
            <mat-card-content>
                <h3>{{customer.institutionName}}</h3>
                <h4>
                    <svg xmlns="http://www.w3.org/2000/svg" width="11.178" height="15.432" viewBox="0 0 11.178 15.432"><path d="M76.162,0a5.6,5.6,0,0,0-5.589,5.589c0,3.825,5,9.439,5.215,9.676a.5.5,0,0,0,.749,0c.213-.237,5.215-5.852,5.215-9.676A5.6,5.6,0,0,0,76.162,0Zm0,8.4a2.812,2.812,0,1,1,2.812-2.812A2.815,2.815,0,0,1,76.162,8.4Z" transform="translate(-70.573 0)" fill="#0277bd"/></svg>
                    {{customer.city}}
                </h4>
            </mat-card-content>
            <button mat-button (click)="detailview(customer._id)"></button>
            <mat-card-actions>
                <button mat-button>
                    <svg xmlns="http://www.w3.org/2000/svg" width="15.167" height="14.883" viewBox="0 0 15.167 14.883">
                        <g transform="translate(-5.6 -6.9)">
                            <g transform="translate(5.6 6.9)">
                                <path
                                    d="M20.313,114.3H6.228a.53.53,0,0,0-.528.528.539.539,0,0,0,.528.528h14.1a.53.53,0,0,0,.528-.528A.542.542,0,0,0,20.313,114.3Z"
                                    transform="translate(-5.687 -100.472)" fill="#607d8b" />
                                <path
                                    d="M5.613,16.054,5.6,18.565a.545.545,0,0,0,.154.386.516.516,0,0,0,.373.154l2.5-.013A.516.516,0,0,0,9,18.938l8.626-8.626a.544.544,0,0,0,0-.76l-2.472-2.5a.544.544,0,0,0-.76,0L12.668,8.793l-6.9,6.888A.573.573,0,0,0,5.613,16.054ZM14.78,8.187l1.738,1.738-.978.978L13.8,9.166Zm-8.1,8.1,6.36-6.36,1.738,1.738L8.42,18.011l-1.751.013Z"
                                    transform="translate(-5.6 -6.9)" fill="#607d8b" />
                            </g>
                        </g>
                    </svg>
                </button>
                <button mat-button>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15"
                        height="15" viewBox="0 0 15 15">
                        <g id="Mask_Group_9" data-name="Mask Group 9" transform="translate(-856 -186)"
                            clip-path="url(#clip-path)">
                            <g id="recycling-bin" transform="translate(856 186)">
                                <g id="_x34__19_">
                                    <g id="Group_25" data-name="Group 25">
                                        <path id="Path_11" data-name="Path 11"
                                            d="M9.844,13.125a.469.469,0,0,0,.469-.469V7.031a.469.469,0,1,0-.937,0v5.625A.469.469,0,0,0,9.844,13.125Zm2.812-11.25H9.844V.938A.937.937,0,0,0,8.906,0H6.094a.937.937,0,0,0-.938.938v.938H2.344a.937.937,0,0,0-.938.938V3.75a.938.938,0,0,0,.938.938v8.438A1.875,1.875,0,0,0,4.219,15h6.563a1.875,1.875,0,0,0,1.875-1.875V4.688a.938.938,0,0,0,.938-.938V2.812A.937.937,0,0,0,12.656,1.875ZM6.094,1.406A.469.469,0,0,1,6.562.937H8.438a.469.469,0,0,1,.469.469v.469H6.094Zm5.625,11.719a.938.938,0,0,1-.937.937H4.219a.938.938,0,0,1-.938-.937V4.688h8.438Zm.469-9.375H2.812a.469.469,0,0,1,0-.938h9.375a.469.469,0,0,1,0,.938ZM5.156,13.125a.469.469,0,0,0,.469-.469V7.031a.469.469,0,1,0-.938,0v5.625A.469.469,0,0,0,5.156,13.125Zm2.344,0a.469.469,0,0,0,.469-.469V7.031a.469.469,0,1,0-.938,0v5.625A.469.469,0,0,0,7.5,13.125Z"
                                            fill="#607d8b" />
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>
                </button>
            </mat-card-actions>
            <!-- <mat-card-actions class="assign_btn">
                <button mat-button (click)="assign()" class="asign" *ngIf= "customer.status == 'unassigned'">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14.686" height="14.686" viewBox="0 0 14.686 14.686"><path d="M7.343,0a7.343,7.343,0,1,0,7.343,7.343A7.351,7.351,0,0,0,7.343,0Zm0,11.626a.612.612,0,1,1,.612-.612A.612.612,0,0,1,7.343,11.626Zm.612-3.06a.612.612,0,1,1-1.224,0v-4.9a.612.612,0,1,1,1.224,0Zm0,0" fill="#f94a46"/></svg>
                    <span class="btn_name">Assign</span>
                </button>
                <button mat-button (click)="assign()" class="update" *ngIf= "customer.status == 'assigned'">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14.186" height="14.186" viewBox="0 0 14.186 14.186"><path d="M7.093,0a7.093,7.093,0,1,0,7.093,7.093A7.1,7.1,0,0,0,7.093,0Zm3.595,5.59L6.846,9.432a.591.591,0,0,1-.836,0L4.089,7.511a.591.591,0,0,1,.836-.836l1.5,1.5L9.852,4.754a.591.591,0,1,1,.836.836Zm0,0" fill="#74ac00"/></svg>
                    <span class="btn_name">Update</span>
                </button>
            </mat-card-actions> -->
        </mat-card>
    </div>
</div>