<h3>Code Arena</h3>

<form [formGroup]="studentCompilerForm" (ngSubmit)="execute()">
<button type="submit" mat-raised-button color="accent"><i class="material-icons">gavel</i>Compile</button>
<textarea formControlName='code' style="width: 100%; height:400px;resize: none;">
//gcc 5.4.0

#include  <stdio.h>

int main(void)
{
    printf("Hello, world!\n");
    return 0;
}     
</textarea>
</form>
<h3>Output Console</h3>
<textarea id="picoutput" style="width: 100%; height:80px;" readonly>
</textarea>