@import "../../../app.component.scss";

.col-3{
  border-left: solid 1px $light_grey;
  @include flex(flex, wrap, center, unset);
  
  > div{
    width: 100%;
  }
}

.topiclist {
  max-width: 100%;
  border-left: solid 1px $light_grey;
  height: calc(100vh - 215px);
  overflow-y: auto;
  padding-block-end: 30px;
  display: block;
  background: white;
  border-radius: 4px;
}
  
.topicbox {
  padding: 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  background: white;
  font-size: 14px;
  
  .mat-button{
    padding: 0;
    border-radius: 50%;
    min-width: 36px;

    svg{
      path{
        fill: $secondary;
      }
    }
  }
  svg{
    fill: $blue_grey;
  }

  span{
    display: block;
    width: 100%;
    margin-inline-start: 10px;
  }
}
.cdk-drag-handle{
  cursor: move;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .topicbox:last-child {
    border: none;
  }
  
  .topiclist.cdk-drop-list-dragging .topicbox:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

.mat-form-field{
  display: block;
  margin-block-end: 20px;
}

.mat-raised-button{
  display: block;
  margin: 0 auto;
}
ckeditor{
  display: block;
  margin: 10px 0 20px;
}
.mat-tab-group{
  height: 100%;
}
.col-7{
  height: calc(100vh - 215px);
  overflow-y: auto;
  padding-block-end: 30px;
}

.choose_file{
  margin-block-end: 30px;
  
  span{
    @include font(0.75rem, 400, $blue_grey);
    img{
        @include img(80px, 80px, cover);
        margin-inline-start: -40px;
    }
    &:before{
        width: 80px;
        height: 80px;
        background-size: 50%;
        margin-block-end: 10px;
    }
  }

  &.csv_file{
    height: 140px;
    border: 2px dashed $light_grey;
    border-radius: 5px;

    span{
      padding: 10px;
      height: 100%;
      
      img{
          @include img(80px, 80px, contain);
      }
      &:before{
          width: 100%;
          border: 0;
          background-size: 20%;
      }
    }
  }
}
a{
  @include font(0.8rem, 400, $primary);
}
p{
  margin: 20px 0;
  @include font(0.8rem, 500, $font);
  span{
    font-weight: 400;
  }
}