<div class="title_bar">
    <button mat-button (click)="back()">
        <svg xmlns="http://www.w3.org/2000/svg" width="29" height="19.957" viewBox="0 0 29 19.957">
            <g id="arrow-pointing-to-right" transform="translate(29 61.873) rotate(180)">
                <path id="Path_337" data-name="Path 337" d="M28.605,50.941l-8.63-8.63a1.348,1.348,0,1,0-1.907,1.907L24.4,50.546H1.348a1.348,1.348,0,0,0,0,2.7H24.4l-6.328,6.328a1.348,1.348,0,0,0,1.907,1.907l8.63-8.63A1.348,1.348,0,0,0,28.605,50.941Z" fill="#272e33"/>
            </g>
        </svg>
    </button>
    <h2>Add Courses</h2>
</div>
<div class="row">
    <div class="col col-8">
    <form [formGroup]="addTopicsForm" (ngSubmit)="onSubmit()">
        <div>
            <label class="choose_file">
                <input #file type="file" name="choose_photo" accept="image/jpg, image/jpeg, image/png" (change)="preview(file.files)">
                <span>
                    <img src="{{imgURL}}">
                    Choose Course Icon
                </span>
            </label>
            <mat-form-field>
                <input matInput formControlName="name" placeholder="Course Name"  autofocus>
            </mat-form-field>
            <label class="choose_file csv_file">
                <input type="file" name="choose_photo" accept=".csv" (change)="preview(file.files)">
                <span>
                    <!-- <img src="{{imgURL}}"> -->
                    You can import .csv file to add course
                </span>
            </label>
            <a href="#">Download Sample.csv file</a>
            <p class="note">Note:<br><span>Please fill all the column in the sample csv file</span></p>
            <button mat-raised-button class="submit" color="accent">Save Course</button>
        </div>
</form>
    </div>
</div>