@import "../app.component.scss";

.login_wrapper{
    background: url(../../assets/img/loginbg.png) no-repeat 10% center;
    background-size: 45%;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.login_container {
    width: max-content;
    margin: 0 15% 0 auto;
    position: relative;
    top: 250px;
    text-align: center;
}
.mat-form-field{
    width: 350px;
    display: block;
    margin: 20px auto 0;
    @include font(16px, 400, $font);
    background: $white;
}
button{
    margin-top: 24px;
    width: 350px;
    border-radius: 25px;
    height: 48px;
    @include font(18px, 400, $font);
    font-size: 18px;
    font-weight: 400;
}
h5{
    @include font(1.1rem, 400, $font);
    margin: 0;
}
h2{
    @include font(1.6rem, 400, $font);
    margin: 24px 0 0;
}
p{
    @include font(0.75rem, 400, $dark_grey);
    line-height: 2;
    margin-top: 35px;
}
.switch_option{
    @include flex(flex, wrap, center, space-between);
    margin-top: -1.34375em;

    a{
        padding: 0;
        @include font(0.9rem, 400, $font);
    }

}