<div class="title_bar">
    <button mat-button (click)="back()">
        <svg xmlns="http://www.w3.org/2000/svg" width="29" height="19.957" viewBox="0 0 29 19.957">
            <g id="arrow-pointing-to-right" transform="translate(29 61.873) rotate(180)">
                <path id="Path_337" data-name="Path 337" d="M28.605,50.941l-8.63-8.63a1.348,1.348,0,1,0-1.907,1.907L24.4,50.546H1.348a1.348,1.348,0,0,0,0,2.7H24.4l-6.328,6.328a1.348,1.348,0,0,0,1.907,1.907l8.63-8.63A1.348,1.348,0,0,0,28.605,50.941Z" fill="#272e33"/>
            </g>
        </svg>
    </button>
    <h2>Add Courses</h2>
</div>
<div class="row">
    <div class="col col-12">
        <mat-tab-group color="accent" mat-align-tabs="start" animationDuration="0ms" class="course_tab">
            <mat-tab label="Topics">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col col-7">
                            <form [formGroup]="addCourseForm" (ngSubmit)="onSubmit()">
                            <mat-form-field>
                                <input matInput formControlName="name" placeholder="Topic Name" >
                            </mat-form-field>
                            <ckeditor [formControl]="addCourseForm.controls['description']"></ckeditor>
                            <!-- <ckeditor [(ngModel)]="model.editorData"></ckeditor> -->
                            <mat-form-field>
                                <mat-label>Question</mat-label>
                                <textarea matInput formControlName="question" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"></textarea>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Output</mat-label>
                                <textarea matInput formControlName="output" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"></textarea>
                            </mat-form-field>
                            <!-- <input #file type="file" name="choose_photo" accept="image/jpg, image/jpeg, image/png" (change)="preview(file.files)">
                            <p class="note">Note:<br><span>You can use both field to show your output, but output is mandatory</span></p> -->
                            <mat-form-field>
                                <mat-label>Answer</mat-label>
                                <textarea matInput formControlName="answer" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"></textarea>
                            </mat-form-field>
                            <button mat-raised-button class="submit" color="accent">Add Topic</button>
                            </form>
                        </div>
                        <div cdkDropList class="col col-5 topiclist" (cdkDropListDropped)="drop($event)">
                            <div class="topicbox" *ngFor="let movie of movies; let i = index" cdkDrag>
                                <svg cdkDragHandle width="24px" fill="currentColor" viewBox="0 0 24 24">
                                    <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
                                    <path d="M0 0h24v24H0z" fill="none"></path>
                                </svg>
                                <span>Episode {{ 10 *( page-1 ) + i + 1 }} - {{movie.name}}</span>
                                <button mat-button>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="15.167" height="14.883" viewBox="0 0 15.167 14.883">
                                        <g transform="translate(-5.6 -6.9)">
                                            <g transform="translate(5.6 6.9)">
                                                <path
                                                    d="M20.313,114.3H6.228a.53.53,0,0,0-.528.528.539.539,0,0,0,.528.528h14.1a.53.53,0,0,0,.528-.528A.542.542,0,0,0,20.313,114.3Z"
                                                    transform="translate(-5.687 -100.472)" fill="#607d8b" />
                                                <path
                                                    d="M5.613,16.054,5.6,18.565a.545.545,0,0,0,.154.386.516.516,0,0,0,.373.154l2.5-.013A.516.516,0,0,0,9,18.938l8.626-8.626a.544.544,0,0,0,0-.76l-2.472-2.5a.544.544,0,0,0-.76,0L12.668,8.793l-6.9,6.888A.573.573,0,0,0,5.613,16.054ZM14.78,8.187l1.738,1.738-.978.978L13.8,9.166Zm-8.1,8.1,6.36-6.36,1.738,1.738L8.42,18.011l-1.751.013Z"
                                                    transform="translate(-5.6 -6.9)" fill="#607d8b" />
                                            </g>
                                        </g>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Particals">
                Content 2
            </mat-tab>
        </mat-tab-group>
    </div>
    <!-- <div class="col col-3">
        <div>
            <label class="choose_file">
                <input #file type="file" name="choose_photo" accept="image/jpg, image/jpeg, image/png" (change)="preview(file.files)">
                <span>
                    <img src="{{imgURL}}">
                    Choose Course Icon
                </span>
            </label>
            <mat-form-field>
                <input matInput placeholder="Course Name"  autofocus>
            </mat-form-field>
            <label class="choose_file csv_file">
                <input type="file" name="choose_photo" accept=".csv" (change)="preview(file.files)">
                <span>
                    You can import .csv file to add course
                </span>
            </label>
            <a href="#">Download Sample.csv file</a>
            <p class="note">Note:<br><span>Please fill all the column in the sample csv file</span></p>
            <button mat-raised-button class="submit" color="accent">Save Course</button>
        </div>
    </div> -->
</div>