<div class="title_bar">
    <button mat-button (click)="back()">
        <svg xmlns="http://www.w3.org/2000/svg" width="29" height="19.957" viewBox="0 0 29 19.957">
            <g id="arrow-pointing-to-right" transform="translate(29 61.873) rotate(180)">
                <path id="Path_337" data-name="Path 337" d="M28.605,50.941l-8.63-8.63a1.348,1.348,0,1,0-1.907,1.907L24.4,50.546H1.348a1.348,1.348,0,0,0,0,2.7H24.4l-6.328,6.328a1.348,1.348,0,0,0,1.907,1.907l8.63-8.63A1.348,1.348,0,0,0,28.605,50.941Z" fill="#272e33"/>
            </g>
        </svg>
    </button>
    <h2>Add Customer</h2>
</div>
<form class="create_form" [formGroup]="addCustomerForm" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col col-9">
            <mat-form-field>
                <input  matInput formControlName="institutionName" placeholder="Collage Name"  autofocus>
            </mat-form-field>
            <mat-form-field>
                <input matInput  formControlName="city"  placeholder="Location">
            </mat-form-field>
            <!-- <mat-form-field>
                <textarea formControlName="emailId" matInput placeholder="Courses" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" aria-label="skill" [matAutocomplete]="auto" ></textarea> -->
                <!-- <mat-autocomplete #auto="matAutocomplete">
                    <mat-option>C</mat-option>
                    <mat-option>C++</mat-option>
                </mat-autocomplete> -->
            <!-- </mat-form-field> -->
            <mat-form-field>
                <input matInput formControlName="departments"  placeholder="Which Department Student">
            </mat-form-field>
            <mat-form-field>
                <input  matInput formControlName="noOfStudents"  placeholder="No. of Students">
            </mat-form-field>
            <mat-form-field>
                <input matInput formControlName="noOfClass"  placeholder="No. of Classes">
            </mat-form-field>
            <mat-form-field>
                <input matInput formControlName="classDuration"  placeholder="Duration(hrs)">
            </mat-form-field>
            <mat-form-field>
                    <!-- <div  matInput class="col-xs-12 col-12 col-md-4 form-group"> -->
                            <input matInput formControlName="classDate" placeholder="classDate" autocomplete="off"
                                  class="form-control"
                                  [minDate]="minDate"
                                  [maxDate]="maxDate"
                                  #dp="bsDatepicker"
                                  (bsValueChange)="onDateChangeClass($event)"
                                  bsDatepicker [(bsValue)]="myDateValue1">
                          <!-- </div> -->
                <!-- <input  matInput formControlName="DateRange"  placeholder="Class Date Range"> -->
            </mat-form-field>
            <mat-form-field>
                <input matInput formControlName="classTime"  placeholder="Class Time">
            </mat-form-field>
            <mat-form-field>
                    <!-- <div  matInput class="col-xs-12 col-12 col-md-4 form-group"> -->
                            <input matInput formControlName="startFrom" placeholder = "startFrom" autocomplete="off"
                                  class="form-control"
                                  [minDate]="minDate"
                                  [maxDate]="maxDate"
                                  #dp="bsDatepicker"
                                  (bsValueChange)="onDateChangeStart($event)"
                                  bsDatepicker [(bsValue)]="myDateValue2">
                          <!-- </div> -->
                <!-- <input  matInput formControlName="DateRange"  placeholder="Class Date Range"> -->
            </mat-form-field>
            <div class="officials">
                <label class="choose_file">
                    <input    type="file" name="choose_photo" accept="image/jpg, image/jpeg, image/png">
                    <span>
                        <img src="">
                        Contact Official 1
                    </span>
                </label>
            </div>
            <div></div>
            <mat-form-field>
                <input  matInput formControlName="primaryName" placeholder="Name">
            </mat-form-field>
            <mat-form-field>
                <input matInput formControlName="primaryDesignation"  placeholder="Designation">
            </mat-form-field>
            <mat-form-field>
                <input  matInput formControlName="primaryEmail"  placeholder="Email">
            </mat-form-field>
            <mat-form-field>
                <input matInput formControlName="primarymobileNumber"  placeholder="Mobile Number">
            </mat-form-field>
            <div class="officials">
                <label class="choose_file">
                    <input  type="file" name="choose_photo" accept="image/jpg, image/jpeg, image/png">
                    <span>
                        <img src="">
                        Contact Official 2
                    </span>
                </label>
            </div>
            <div></div>
            <mat-form-field>
                <input matInput formControlName="secondaryName"  placeholder="Name">
            </mat-form-field>
            <mat-form-field>
                <input matInput formControlName="secondaryDesignation"  placeholder="Designation">
            </mat-form-field>
            <mat-form-field>
                <input matInput formControlName="secondaryEmail"  placeholder="Email">
            </mat-form-field>
            <mat-form-field>
                <input  matInput formControlName="secondarymobileNumber"  placeholder="Mobile Number">
            </mat-form-field>
        </div>
        <div class="col col-3">
            <div class="sumbmission">
                <label class="choose_file">
                    <input  #file type="file" name="choose_photo" accept="image/jpg, image/jpeg, image/png" (change)="preview(file.files)">
                    <span>
                        <img src="{{imgURL}}">
                        Choose a Photo
                    </span>
                </label>
                <button type="submit" mat-raised-button class="submit" color="accent">Submit</button>
            </div>
        </div>
    </div>
</form>