@import "../../../app.component.scss";

.submit{
    margin-block-start: 20px;
}

.officials{

    width: 100%;
    margin-block-start: 30px;

    img{
        width: 60px;
        height: 60px;
    }
    .choose_file{
        text-align: left;
        
        span{
            @include flex(inline-flex, nowrap, center, unset);
            @include font(1rem, 500, $blue_grey);

            &:before{
                width: 60px;
                height: 60px;
                display: inline-block;
                background-size: 50%;
                margin: 0 10px 0 0;
            }
        }
    }
}