<div class="title_bar">
    <button mat-button (click)="back()">
        <svg xmlns="http://www.w3.org/2000/svg" width="29" height="19.957" viewBox="0 0 29 19.957">
            <g id="arrow-pointing-to-right" transform="translate(29 61.873) rotate(180)">
                <path id="Path_337" data-name="Path 337" d="M28.605,50.941l-8.63-8.63a1.348,1.348,0,1,0-1.907,1.907L24.4,50.546H1.348a1.348,1.348,0,0,0,0,2.7H24.4l-6.328,6.328a1.348,1.348,0,0,0,1.907,1.907l8.63-8.63A1.348,1.348,0,0,0,28.605,50.941Z" fill="#272e33"/>
            </g>
        </svg>
    </button>
    <h2>Add Trainee</h2>
</div>
<form class="create_form" [formGroup]="addTraineeForm" (ngSubmit)="submit()">
    <div class="row">
        <div class="col col-9">
            <mat-form-field>
                <input matInput formControlName='name' placeholder="Full Name"  autofocus>
            </mat-form-field>
            <mat-form-field>
                <input matInput formControlName='email' placeholder="Email">
            </mat-form-field>
            <mat-form-field>
                <input matInput formControlName='mobileNumber' placeholder="Mobile Number">
            </mat-form-field>
            <!-- <mat-form-field>
                <input matInput formControlName='dateOfBirth' placeholder="D.O.B">
            </mat-form-field> -->
            <mat-form-field>
                    <!-- <div  matInput class="col-xs-12 col-12 col-md-4 form-group"> -->
                            <input matInput formControlName="dateOfBirth" placeholder="D.O.B" autocomplete="off"
                                  class="form-control"
                                  [minDate]="minDate"
                                  [maxDate]="maxDate"
                                  #dp="bsDatepicker"
                                  (bsValueChange)="onDateChange($event)"
                                  bsDatepicker [(bsValue)]="myDateValue">
                          <!-- </div> -->
                <!-- <input  matInput formControlName="DateRange"  placeholder="Class Date Range"> -->
            </mat-form-field>
            <mat-form-field>
                <input matInput formControlName='gender'  placeholder="Sex">
            </mat-form-field>
            <mat-form-field>
                <input matInput formControlName='location' placeholder="Location">
            </mat-form-field>
            <mat-form-field>
                <input matInput formControlName='education' placeholder="Education">
            </mat-form-field>
            <mat-form-field>
                
                <textarea matInput formControlName='skills' placeholder="Skills" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" aria-label="skill" [matAutocomplete]="auto" ></textarea>
                <!-- <mat-autocomplete #auto="matAutocomplete">
                    <mat-option>C</mat-option>
                    <mat-option>C++</mat-option>
                </mat-autocomplete> -->
            </mat-form-field>
            <mat-form-field>
                <input matInput formControlName='lastJob' placeholder="Last Job at">
            </mat-form-field>
            <mat-form-field>
                <input matInput formControlName='yearsOfExperiance' placeholder="Year of Experience">
            </mat-form-field>
        </div>
        <div class="col col-3">
            <div class="sumbmission">
                <label class="choose_file">
                    <input #file type="file" name="choose_photo" accept="image/jpg, image/jpeg, image/png" (change)="preview(file.files)">
                    <span>
                        <img src="{{imgURL}}">
                        Choose a Photo
                    </span>
                </label>
                <h3>UID: <span>US3R1D006</span></h3>
                <button type="submit" mat-raised-button class="submit" color="accent">Submit</button>
            </div>
        </div>
    </div>
</form>