<div class="login_container">
  <h5>Welcome</h5>
  <h2>
    <label class="profile_img">
      <span>{{ initial }}
      </span>
      <!-- <img src="" alt=""> -->
    </label>
    {{name}}
  </h2>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input #pswd formControlName='password' matInput autofocus autocomplete="off">
    </mat-form-field>
    <div class="switch_option">
      <a mat-button>Forgot Password?</a>
      <a mat-button routerLink='/login/uid'>Is not you?</a>
    </div>
    <button type="submit" mat-raised-button color="accent" [class.spinner]="loading" [disabled]="loading">{{btnname}}</button>
    <p>Copyright © 2019 Doods Learning <br> Powered by TechiDoods</p>
  </form>
</div>