<mat-sidenav-container class="sidenav_container">
    <mat-sidenav mode="side" opened>
      <div class="nav_profile">
          <label class="profile_img">
              <span>J</span>
              <!-- <img src="" alt=""> -->
          </label>
          <h2>James William</h2>
          <p>
              (Trainee)
              <svg xmlns="http://www.w3.org/2000/svg" width="5.208" height="9.136" viewBox="0 0 5.208 9.136"><path d="M102.159,5.02,98.231,8.948a.64.64,0,0,1-.9-.9L100.8,4.568,97.326,1.092a.64.64,0,0,1,.9-.9l3.928,3.928a.64.64,0,0,1,0,.9Z" transform="translate(-97.139 0)" fill="#b6c4cb"/></svg>
          </p>
          <a mat-button routerLink="/"></a>
      </div>
      <div class="nav_menu">
          <a mat-button routerLink="/trainee/dashboard-trainee" routerLinkActive="active">
              <svg xmlns="http://www.w3.org/2000/svg" width="17.143" height="17.143" viewBox="0 0 17.143 17.143"><g transform="translate(0)"><path d="M15.134,1.339h-.8V0H12.991V1.339H4.152V0H2.813V1.339h-.8A2.011,2.011,0,0,0,0,3.348V15.134a2.011,2.011,0,0,0,2.009,2.009H15.134a2.011,2.011,0,0,0,2.009-2.009V3.348A2.011,2.011,0,0,0,15.134,1.339Zm.67,13.795a.67.67,0,0,1-.67.67H2.009a.67.67,0,0,1-.67-.67V6.295H15.8Zm0-10.179H1.339V3.348a.67.67,0,0,1,.67-.67h.8V4.018H4.152V2.679h8.839V4.018h1.339V2.679h.8a.67.67,0,0,1,.67.67Z" fill="#272e33"/><g transform="translate(2.857 7.857)"><g transform="translate(0 0)"><rect width="1" height="1" transform="translate(0.143 0.143)" fill="#272e33"/></g></g><g transform="translate(5 7.857)"><g transform="translate(0 0)"><rect width="1" height="1" transform="translate(0 0.143)" fill="#272e33"/></g></g><g transform="translate(7.857 7.857)"><g transform="translate(0 0)"><rect width="1" height="1" transform="translate(0.143 0.143)" fill="#272e33"/></g></g><g transform="translate(10.714 7.857)"><g transform="translate(0 0)"><rect width="1" height="1" transform="translate(0.286 0.143)" fill="#272e33"/></g></g><g transform="translate(12.857 7.857)"><g transform="translate(0 0)"><rect width="1" height="1" transform="translate(0.143 0.143)" fill="#272e33"/></g></g><g transform="translate(2.857 10.714)"><g transform="translate(0 0)"><rect width="1" height="1" transform="translate(0.143 0.286)" fill="#272e33"/></g></g><g transform="translate(5 10.714)"><g transform="translate(0 0)"><rect width="1" height="1" transform="translate(0 0.286)" fill="#272e33"/></g></g><g transform="translate(7.857 10.714)"><g transform="translate(0 0)"><rect width="1" height="1" transform="translate(0.143 0.286)" fill="#272e33"/></g></g><g transform="translate(10.714 10.714)"><g transform="translate(0 0)"><rect width="1" height="1" transform="translate(0.286 0.286)" fill="#272e33"/></g></g><g transform="translate(2.857 12.857)"><g transform="translate(0 0)"><rect width="1" height="1" transform="translate(0.143 0.143)" fill="#272e33"/></g></g><g transform="translate(5 12.857)"><g transform="translate(0 0)"><rect width="1" height="1" transform="translate(0 0.143)" fill="#272e33"/></g></g><g transform="translate(7.857 12.857)"><g transform="translate(0 0)"><rect width="1" height="1" transform="translate(0.143 0.143)" fill="#272e33"/></g></g><g transform="translate(10.714 12.857)"><g transform="translate(0 0)"><rect width="1" height="1" transform="translate(0.286 0.143)" fill="#272e33"/></g></g><g transform="translate(12.857 10.714)"><g transform="translate(0 0)"><rect width="1" height="1" transform="translate(0.143 0.286)" fill="#272e33"/></g></g></g></svg>
              Dashboard
          </a>
          <a mat-button routerLink="/trainee/students" routerLinkActive="active">
              <svg xmlns="http://www.w3.org/2000/svg" width="17.167" height="17.167" viewBox="0 0 17.167 17.167"><path d="M13.545,4.962a4.962,4.962,0,1,0-7.77,4.089A8.6,8.6,0,0,0,0,17.167H1.341A7.25,7.25,0,0,1,8.583,9.924a4.968,4.968,0,0,0,4.962-4.962ZM8.583,8.583A3.621,3.621,0,1,1,12.2,4.962,3.625,3.625,0,0,1,8.583,8.583ZM10.8,13.143h6.37v1.341H10.8Zm6.37-2.682V11.8H10.8V10.461ZM10.8,15.825h6.37v1.341H10.8Zm0,0"/></svg>
              Student
          </a>
          <a mat-button routerLink="/trainee/completed_courses" routerLinkActive="active">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="17" height="17" viewBox="0 0 17 17"><defs><clipPath id="a"><rect width="17" height="17" transform="translate(30 295.333)" fill="#272e33"/></clipPath></defs><g transform="translate(-30 -295.333)" clip-path="url(#a)"><g transform="translate(30 295.553)"><g transform="translate(0 0)"><path d="M8.667,15.817,1.155,12.354c.026.016-.665-.3-1.155-.577,0,.419.105,1.186.5,1.393l7.354,3.306a1.566,1.566,0,0,0,1.634,0l7.354-3.306c.363-.169.5-.965.5-1.393-.473.237-1.142.574-1.155.577Zm0-14.429c.054.063.04.013,0,0ZM.5,9.707l7.354,3.306a1.566,1.566,0,0,0,1.634,0l7.354-3.306c.363-.169.5-.965.5-1.393-.473.237-1.142.574-1.155.577L8.667,12.354,1.155,8.891c.026.016-.665-.3-1.155-.577C0,8.733.105,9.5.5,9.707Zm0-3.463L7.849,9.55a1.566,1.566,0,0,0,1.634,0l7.354-3.306a1.013,1.013,0,0,0,0-1.633L9.484.729a1.459,1.459,0,0,0-1.634,0L.5,4.612A.994.994,0,0,0,.5,6.244ZM8.667,1.388l7.511,4.04L8.667,8.593,1.155,5.428Z" transform="translate(0 -0.479)" fill="#272e33"/></g></g></g></svg>
            Courses
        </a>
          <!-- <a mat-button routerLink="/trainee/courses-list" routerLinkActive="active">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="17" height="17" viewBox="0 0 17 17"><defs><clipPath id="a"><rect width="17" height="17" transform="translate(30 295.333)" fill="#272e33"/></clipPath></defs><g transform="translate(-30 -295.333)" clip-path="url(#a)"><g transform="translate(30 295.553)"><g transform="translate(0 0)"><path d="M8.667,15.817,1.155,12.354c.026.016-.665-.3-1.155-.577,0,.419.105,1.186.5,1.393l7.354,3.306a1.566,1.566,0,0,0,1.634,0l7.354-3.306c.363-.169.5-.965.5-1.393-.473.237-1.142.574-1.155.577Zm0-14.429c.054.063.04.013,0,0ZM.5,9.707l7.354,3.306a1.566,1.566,0,0,0,1.634,0l7.354-3.306c.363-.169.5-.965.5-1.393-.473.237-1.142.574-1.155.577L8.667,12.354,1.155,8.891c.026.016-.665-.3-1.155-.577C0,8.733.105,9.5.5,9.707Zm0-3.463L7.849,9.55a1.566,1.566,0,0,0,1.634,0l7.354-3.306a1.013,1.013,0,0,0,0-1.633L9.484.729a1.459,1.459,0,0,0-1.634,0L.5,4.612A.994.994,0,0,0,.5,6.244ZM8.667,1.388l7.511,4.04L8.667,8.593,1.155,5.428Z" transform="translate(0 -0.479)" fill="#272e33"/></g></g></g></svg>
              Courses
          </a> -->
      </div>
      <div class="nav_footer">
          <a mat-button routerLink="/">
              Logout
              <svg xmlns="http://www.w3.org/2000/svg" width="19.857" height="14.901" viewBox="0 0 19.857 14.901"><g transform="translate(-1 -59.95)"><g transform="translate(0 58.95)"><path d="M0,61.435v9.931a2.49,2.49,0,0,0,2.485,2.485h8.026A2.49,2.49,0,0,0,13,71.366V69.757a.492.492,0,1,0-.984,0v1.608a1.508,1.508,0,0,1-1.5,1.5H2.485a1.508,1.508,0,0,1-1.5-1.5V61.435a1.508,1.508,0,0,1,1.5-1.5h8.026a1.508,1.508,0,0,1,1.5,1.5v1.608a.492.492,0,0,0,.984,0V61.435a2.49,2.49,0,0,0-2.485-2.485H2.485A2.487,2.487,0,0,0,0,61.435Z" transform="translate(1 -57.95)" fill="#fff"/><path d="M212.433,155.412a.422.422,0,0,0,.6,0l.866-.866,2.008-2.008a.417.417,0,0,0,0-.592l-2.873-2.873a.419.419,0,0,0-.592.592l2.157,2.157h-7.873a.421.421,0,1,0,0,.842h7.87l-2.157,2.157A.413.413,0,0,0,212.433,155.412Z" transform="translate(-195.169 -143.95)" fill="#fff"/></g></g></svg>
          </a>
          <p>Powered by TechiDoods</p>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>