$white: #ffffff;
$primary: #0277bd;
$secondary: #f44336;
$green: #74ac00;
$light_grey: #E1E1E1;
$dark_grey: #B6C4CB;
$blue_grey: #607D8B;
$font: #272E33;
$active: #F5FAFC;


@mixin font($size, $weight, $fn_color) {
	font: {
	  size: $size;
	  weight: $weight;
	}
	color: $fn_color;
}
  
// @mixin border($width, $style, $brcolor) {
// 	border-width: $width;
// 	border-style: $style;
// 	border-color: $brcolor;
// }

@mixin flex($flex, $wrap, $align, $justify) {
	display: $flex;
	flex-wrap: $wrap;
	align-items: $align;
	justify-content: $justify;
}

@mixin img($width, $height, $fit) {
	width: $width;
	height: $height;
	object-fit: $fit;
}

@mixin position($positon, $top, $left, $bottom, $right) {
	position: $positon;
	top: $top;
	left: $left;
	bottom: $bottom;
	right: $right;
}

button.mat-button, a.mat-button{
  border-radius: 0;
}
svg{
	&:focus{
		outline: none;
	}
}
.container{
	max-width: 1300px;
	padding-inline-start: 15px;
	padding-inline-end: 15px;
	margin-inline-start: auto;
	margin-inline-end: auto;
	@media (max-width: 599px) {
		max-width: 100%;
	}
	position: relative;
}
.container-fluid{
	padding-inline-start: 15px;
	padding-inline-end: 15px;
}
.row{
	@include flex(flex, wrap, unset, unset);
	margin-inline-start: -15px;
	margin-inline-end: -15px;
}
.col{
	position: relative;
	padding-inline-start: 15px;
	padding-inline-end: 15px;
	flex: 0 1 100%;
	max-width: 100%;
	@media (min-width: 768px){
		&-1 {
			flex: 0 1 8.333333%;
	    	max-width: 8.333333%;
		}
		&-2 {
			flex: 0 1 16.666667%;
	    	max-width: 16.666667%;
		}
		&-3 {
			flex: 0 1 25%;
	    	max-width: 25%;
		}
		&-4 {
			flex: 0 1 33.333333%;
	    	max-width: 33.333333%;
		}
		&-5 {
			flex: 0 1 41.666667%;
	    	max-width: 41.666667%;
		}
		&-6 {
			flex: 0 1 50%;
	    	max-width: 50%;
		}
		&-7 {
			flex: 0 1 58.333333%;
	    	max-width: 58.333333%;
		}
		&-8	 {
			flex: 0 1 66.666667%;
	    	max-width: 66.666667%;
		}
		&-9 {
			flex: 0 1 75%;
	    	max-width: 75%;
		}
		&-10 {
			flex: 0 1 83.333333%;
	    	max-width: 83.333333%;
		}
		&-11 {
			flex: 0 1 91.666667%;
	    	max-width: 91.666667%;
		}
		&-12 {
			flex: 0 1 100%;
	    	max-width: 100%;
		}
		&-20 {
			flex: 0 1 20%;
	    	max-width: 20%;
		}
	}
}


.profile_img {
	@include font(1.7rem, 400, $white);
	width: 54px;
	height: 54px;
	@include flex(inline-flex, nowrap, center, center);
	background: $primary;
	border-radius: 50%;

	img{
		@include img(54px, 54px, contain);
	}
}

// Sidenav

.sidenav_container {
    //   position: absolute;
    //   top: 0;
    //   bottom: 0;
    //   left: 0;
    //   right: 0;
    //   background: #eee;
	height: 100%;
	background: $white;
}
.mat-sidenav-content{
	padding-block-end: 25px;
	padding-inline-start: 25px;
	padding-inline-end: 25px;
}
.mat-sidenav{
	width: 200px;
	padding-block-end: 105px;
	border-right: 0;
	box-shadow: 3px 0 6px 0 rgba(0, 0, 0, 0.16);

	.mat-button{
		border-radius: 0;
	}
}
.nav_profile{
	margin: 40px 0 60px;
	text-align: center;
	position: relative;
	a{
		@include position(absolute, -15px, 0, -15px, 0);
	}
	h2{
		@include font(1.5rem, 400, $font);
		margin: 10px 0 5px;
	}
	p{
		@include font(0.9rem, 400, $dark_grey);
		margin-block-start: 0;
	}
}
.nav_footer {
	@include position(absolute, unset, 0, 0, 0);
	padding: 20px;
	text-align: right;
	background-color: $primary;

	p{
		text-align: center;
		@include font(0.75rem, 400, $white);
		opacity: 0.25;
		margin-block-end: 0;
	}

	a{
		border-radius: 0;
		@include font(0.9rem, 400, $white);
	}
}

.nav_menu{
	a{
		width: 100%;
		max-width: 100%;
		border-radius: 0;
		height: 80px;
		line-height: 1;
		margin-block-start: 15px;
		border-right: 6px solid transparent;
		@include font(1rem, 400, $font);
		@include flex(flex, nowrap, center, center);
		
		svg{
			display: block;
			margin: 0 auto 6px;
		}

		&.active{
			background-color: $active;
			color: $secondary;
			border-color: $secondary;

			svg{
				path{
					fill: $secondary;
				}
				rect{
					fill: $secondary;
				}
			}
		}
	}
}

// Main Content Common Style

.title_bar {
    // padding-block-start: 20px;
    padding-block-end: 20px;
    margin-block-start: 20px;
	margin-block-end: 20px;
	height: 70px;
	border-bottom: 1px solid #ddd;
	@include flex(flex, wrap, center, unset);
	
	h2 {
		margin: 0;
		@include font(1.5rem, 400, $font);
	}

	.mat-button{
		min-width: 54px;
		height: 54px;
		border-radius: 50%;
		padding: 0;
		margin-inline-end: 15px;
	}

	

}
.action_items {
    text-align: right;
	margin-bottom: 30px;
	
	input[type="text"]{
		@include font(1rem, 400, $font);
		background: url("src/assets/icon/search.svg") no-repeat 10px center;
		padding-inline-start: 30px;
		padding-inline-end: 20px;
		border: 0px;
		width: 100px;
		height: 32px;
		background-color:$white;
		transition: width 0.3s ease;

		&:focus, &:hover{
			width: 300px;
			box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
			outline: none;
		}
	}

	.mat-button{
		@include font(1rem, 400, $font);
		line-height: 32px;
		
		svg{
			margin-inline-end: 5px;;
		}
		.active{
			svg{
				path{
					fill: $secondary;
				}
				rect{
					fill: $secondary;
				}
			}
		}
	}

}
a.add_btn {
    width: 100%;
    height: 100%;
    border-radius: 5px;
	border: 2px dashed #ddd;
	@include font(1.2rem, 400, $font);
	@include flex(flex, nowrap, center, center);

	svg{
		display: block;
		margin: 0 auto 6px;
	}
}

.grid-view .col{
	margin-block-end: 30px;
}

.mat-card{
	&.detail_card {
		box-shadow: none;
		text-align: center;
		padding: 20px;
		height: 100%;
		
		.mat-card-content{
			margin-block-end: 0;
		}
		.mat-card-actions{
			display: none;
			@include position(absolute, 0, unset, unset, 8px);
			.mat-button{
				min-width: 36px;
				padding: 0;
				border-radius: 50%;

				&:hover{
					svg{
						path{
							fill: $secondary;
						}
						rect{
							fill: $secondary;
						}
					}
				}
			}
		}
		&:hover {
			box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
			.mat-card-actions{
				display: block;
			}
		}
		img{
			@include img(60px, 60px, cover);
		}
		h3{
			@include font(1.25rem, 400, $font);
			margin: 10px 0 6px;
			text-transform: capitalize;
		}
		h4{
			@include font(0.9rem, 500, $blue_grey);
			text-transform: capitalize;
			margin: 0;
		}
		& > .mat-button{
			width: 100%;
			@include position(absolute, 0, 0, 0, 0);
		}
	}
}

.choose_file{
    text-align: center;
	display: block;
	
    input[type="file"]{
        display: none;
    }

    span{
        @include font(0.9rem, 400, $blue_grey);
        cursor: pointer;
        display: block;
        position: relative;

        img{
            @include img(160px, 160px, cover);
            @include position(absolute, 0, 50%, unset, unset);
            margin-inline-start: -80px;
            border-radius: 50%;
            background: $blue_grey;

            &[src=""]{
                display: none;
            }
        }
        &:before{
            content: '';
            border: 2px dotted $blue_grey;
            background-color: #fff;
            border-radius: 50%;
            display: block;
            width: 160px;
            height: 160px;
            margin: 0 auto 5px;
            background: url(src/assets/icon/add_img.svg) no-repeat center;
        }
    }

    & + h3{
        @include font(1.25rem, 500, $font);
        span{
            @include font(1.25rem, 400, $font);
        }
    }
}

.create_form{
    .col-9{
        @include flex(flex, wrap, unset, unset);
    }
    .col-3{
        padding-block-start: 40px;
        text-align: center;
    }
    .mat-form-field{
        display: block;
        width:50%;
        margin-block-start: 40px;

        &:nth-child(odd){
            padding-inline-end: 15px;
        }
        &:nth-child(even){
            padding-inline-start: 15px;
        }
    }
}

.mat-raised-button.submit{
    @include font(1.05rem, 400, $white);
    width: 130px;
    height: 40px;
    border-radius: 24px;
}

@keyframes spinner {
	to {transform: rotate(360deg);}
}
   
.spinner:before {
	content: '';
	box-sizing: border-box;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 20px;
	height: 20px;
	margin-top: -10px;
	margin-left: -10px;
	border-radius: 50%;
	border: 2px solid #ffffff;
	border-top-color: #000000;
	animation: spinner .8s linear infinite;
}

.profile_details{
	position: relative;
	border-bottom: 1px solid $light_grey;
	padding-block-end: 30px;

	>.row{
		>.col-3{
			@include flex(flex, nowrap, center, center);
			border-right: 1px solid $light_grey;
			text-align: center;
			
			.mat-raised-button{
				font-size: 1rem;
				margin-block-start: 5px;
				border-radius: 20px;
				line-height: 2;
				color: $white;
				padding-inline-start: 20px;
				padding-inline-end: 20px;

				&.assign{
					background-color: $secondary;
				}
				&.update{
					background-color: $green;
				}
			}
		}
	}

	img{
		display: block;
		width: 100px;
		height: 100px;
		object-fit: cover;
		margin: 0 auto;
	}
	h3 {
		@include font(1.4rem, 400, $font);
		text-transform: capitalize;
		margin: 10px 0 6px;
	}
	h4{
		@include font(0.9rem, 500, $blue_grey);
		margin-block-start: 0;
		margin-block-end: 6px;
	}
	h5{
		@include font(0.9rem, 500, $font);
		margin-block-start: 0;
		margin-block-end: 6px;
		svg{
			margin-right: 2px;
		}
	}
	label{
		@include font(1rem, 500, $font);
		display: block;
		margin-block-end: 30px;

		span{
			display: inline-block;
			font-weight: 400;
			text-transform: capitalize;

			&.skill {
				font-size: 0.9rem;
				padding: 5px 15px;
				background-color: $primary;
				color: $white;
				border-radius: 20px;
				margin: 5px;
			}
		}
	}
	.courses {
		
		>div{
			@include flex(inline-flex, nowrap, center, unset);
			margin-block-start: 10px;
			margin-block-end: 20px;
			margin-inline-end: 20px;
			text-transform: capitalize;
		}
		label{
			margin-block-end: 0;
		}
		img{
			width: 30px;
			height: 30px;
			object-fit: contain;
			margin-inline-end: 5px;
		}
	}
	.contact{
		@include flex(flex, wrap, center, unset);
		.mat-card{
			margin: 10px 10px 10px 0;
			box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);

			h4{
				@include font(1rem, 500, $font);
				margin-block-end: 6px;

				span{
					@include font(0.75rem, 500, $blue_grey);
					margin-inline-start: 2px;
				}
			}
			i{
				@include font(0.75rem, 500, $blue_grey);
				display: block;
				margin-block-end: 6px;
			}
			img{
				position: absolute;
				bottom: 10px;
				right: 10px;
				width: 25px;
				height: 25px;
				object-fit: cover;
			}
		}
	}
	.btn_grp {
		position: absolute;
		bottom: 5px;
		right: 0;

		.mat-button{
			@include font(inherit, 400, $blue_grey);
			margin-block-start: 2px;
			border-radius: 20px;

			svg{
				margin-right: 2px;
			}

			&:hover{
				color: $secondary;

				svg{
					path{
						fill: $secondary;
					}
				}
			}
		}
	}
	
}

.history{
	.head{
		position: sticky;
		background: linear-gradient(0deg, transparent 0%, #fff 30%);
		padding-block-start: 20px;
		padding-block-end: 20px;
		top: 0;
		z-index: 1;
	}
	h3{
		@include font(1.25rem, 500, $font);
		text-align: center;
		margin-block-start: 0;
		margin-block-end: 8px;
	}
	h5{
		@include font(0.8rem, 500, $blue_grey);
		text-align: center;
		margin-block-start: 0;
		margin-block-end: 8px;
	}
	.history_date{
		@include font(1.25rem, 500, $blue_grey);
		display: inline-flex;
		flex-direction: column;
		text-align: center;
		padding: 20px 0;

		span{
			display: inline-block;
			&:last-child{
				font-size: 0.75rem;
				margin-block-start: 4px;
			}
		}
	}
	.card_list{
		background-image: linear-gradient($light_grey 33%, rgba(255,255,255,0) 0%);
		background-position: left;
		background-size: 1px 18px;
		background-repeat: repeat-y;
		margin-inline-start: 25px;
		padding-inline-start: 25px;
	}
	.mat-card{
		@include flex(flex, wrap, flex-start, unset);
		margin: 10px;
		box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);

		i{
			svg{
				position: absolute;
				top: 5px;
				right: 5px;
			}
		}

		img{
			width: 60px;
			height: 60px;
			object-fit: contain;
		}
		.mat-card-content{
			padding-inline-start: 10px;
		}
		h4{
			@include font(1rem, 500, $font);
			margin-block-start: 10px;
			margin-block-end: 0;
			text-transform: capitalize;

			span{
				margin-left: 2px;
				@include font(0.7rem, 400, $blue_grey);
			}
		}
		i{
			@include font(0.8rem, 400, $blue_grey);
			margin-block-start: 0;
			margin-block-end: 0;
		}
	}
}
.sumbmission{
    position: sticky;
    top: 100px;
}
.dashboard{
	.card_list{
		.mat-accordion{
			mat-expansion-panel {
				margin-bottom: 20px!important;
				box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16) !important;
			}
			&:last-child{
				mat-expansion-panel {
					margin-bottom: 0px!important;
				}
			}
		}
	}

	.mat-expansion-panel-header{
		padding: 54px 24px;
		position: relative;

		img{
			width: 80px;
			height: 80px;
			object-fit: contain;
		}
	}
	.mat-expansion-panel-header-title{
		margin-inline-end: 8px;
		flex-grow: 0;
	}
	.mat-expansion-indicator{
		@include position(absolute, unset, unset, 20px, 20px);
	}
	mat-panel-description{
		display: block;

		h2{
			@include font(1.1rem, 500, $font);
			text-transform: capitalize;
			margin-block-end: 4px;
		}
		svg{
			@include position(absolute, 12px, unset, unset, 12px);
		}
	}
	.mat-expansion-panel-body{
		border-top: 1px solid $light_grey;

		.detail{
			@include flex(flex, nowrap, center, unset);
			margin: 20px 0;

			h5{
				@include font(0.9rem, 500, $font);
				@include flex(flex, nowrap, center, unset);
				margin-inline-start: 5px;
				margin-block-end: 0;

				span{
					@include font(0.75rem, 400, $blue_grey);
					margin-inline-start: 5px;

					&.status{
						@include font(0.7rem, 400, $blue_grey);
						@include flex(inline-flex, nowrap, center, unset);
						font-style: italic;
						margin-inline-start: 15px;

						svg{
							margin-inline-end: 5px;
						}
					}
				}
			}
		}
		img{
			width: 30px;
			height: 30px;
			object-fit: contain;
		}
		.mat-button{
			@include font(0.75rem, 400, $blue_grey);
			@include position(absolute, unset, unset, 10px, 20px);
			text-decoration: underline;
			border-radius: 20px;
		}
	}
}
