@import "../../app.component.scss";

.course_tab{
    .container-fluid, .row{
        height: 100%;
    }
}

.topic_list {
    border-right: 1px solid $light_grey;
    height: 100%;
    overflow: auto;

    ul {
        list-style: none;
        padding-inline-start: 0;

        label{
            display: block;
            @include font(12px, 500, $primary);
            text-transform: capitalize;
            margin-block-end: 8px;
        }
    }

    button{
        @include font(14px, 400, $font);
        padding: 15px 0;
        width: 100%;
        text-align: left;
        line-height: 1;
        white-space: pre-wrap;
        padding-inline-start: 10px;
        
        &.active{
            @include font(14px, 500, $font);
        }

        &::before {
            content: '-';
            position: absolute;
            left: 0;
        }
    }
}

.topic_content {
    height: 100%;
    overflow: auto;
}

.topic_name{
    @include font(20px, 500, $font);
}

.topic_Q_A{
    position: relative;

    h4{
        @include font(16px, 500, $font);
        margin-block-end: 0px;
    }

    .run{
        position: absolute;
        top: -20px;
        right: 0;
        @include font(14px, 500, $secondary);

        svg{
            margin-block-start: -6px;
        }
    }
}
.course_label {
    font-size: 18px;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    position: absolute;
    top: 110px;

    img {
        width: 40px;
        height: 40px;
        object-fit: contain;
        margin-right: 8px;
    }
}