<div class="title_bar">
    <h2>Dashboard</h2>
</div>
<div class="row dashboard">
    <div class="col col-5">
        <div class="history" *ngFor="let history of dashboard_history">
            <label class="history_date">
                <span>{{history.date | date: 'dd'}}</span>
                <span>{{history.date | date: 'MMM, y'}}</span>
            </label>
            <div class="card_list">
                <div>
                    <mat-accordion *ngFor="let list of history.list">
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <img src="{{list.colg_icon}}">
                                </mat-panel-title>
                                <mat-panel-description>
                                    <h2>{{list.colg_name}}</h2>
                                    <i>taken by <span *ngFor="let trainee of list.trainee">{{trainee.name}}</span></i>
                                    <svg matTooltip="Incomplete Task" xmlns="http://www.w3.org/2000/svg" width="14.686" height="14.686" viewBox="0 0 14.686 14.686"><path d="M7.343,0a7.343,7.343,0,1,0,7.343,7.343A7.351,7.351,0,0,0,7.343,0Zm0,11.626a.612.612,0,1,1,.612-.612A.612.612,0,0,1,7.343,11.626Zm.612-3.06a.612.612,0,1,1-1.224,0v-4.9a.612.612,0,1,1,1.224,0Zm0,0" fill="#f94a46"/></svg>
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <div class="detail" *ngFor="let languange of list.class">
                                <img src="{{languange.lang_icon}}" alt="">
                                <h5>
                                    {{languange.topic}}
                                    <span>({{languange.name}})</span>
                                    <span *ngIf= "languange.status == 'incomplete'" class="status">
                                        <svg matTooltip="Incomplete Task" xmlns="http://www.w3.org/2000/svg" width="14.686" height="14.686" viewBox="0 0 14.686 14.686"><path d="M7.343,0a7.343,7.343,0,1,0,7.343,7.343A7.351,7.351,0,0,0,7.343,0Zm0,11.626a.612.612,0,1,1,.612-.612A.612.612,0,0,1,7.343,11.626Zm.612-3.06a.612.612,0,1,1-1.224,0v-4.9a.612.612,0,1,1,1.224,0Zm0,0" fill="#f94a46"/></svg>
                                        not yet complete
                                    </span>
                                </h5>
                            </div>
                            <button mat-button>More details</button>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </div>
        </div>
    </div>
    <div class="col col-7">

    </div>
</div>