<div class="login_container">
  <h5>Welcome To</h5>
  <h2>Doods Learning</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input #uid formControlName="emailId" matInput autofocus autocomplete="off">
    </mat-form-field>
    <button type="submit" mat-raised-button color="accent" [class.spinner]="loading" [disabled]="loading">{{btnname}}</button>
    <p>Copyright © 2019 Doods Learning <br> Powered by TechiDoods</p>
  </form>
</div>
