@import "../../../app.component.scss";

.assigned_trainees{

    .mat-card {

        img {
            width: 40px;
            height: 40px;
            object-fit: cover;
            margin-inline-end: 8px;
        }
        h2{
            @include font(0.9rem, 400, $font);
            @include flex(flex, wrap, center, unset);
        }
		.mat-card-actions{
            @include position(absolute, auto, auto, 8px, 12px);
            margin-block-end: 0;

			.mat-button{
                min-width: 36px;
				padding: 0;
				border-radius: 50%;

				&:hover{
					svg{
						path{
							fill: $secondary;
						}
						rect{
							fill: $secondary;
						}
					}
				}
			}
		}
    }
}
.assign_form{
    position: sticky;
    top: 125px;
    margin-block-start: 25px;

    .mat-form-field{
        display: block;
        margin-block-end: 20px;
    }
}
.assign_history{
    .mat-raised-button{
        display: block;
        width: 100%;
        border-radius: 24px;
        line-height: 3;
    }
}
.assign_details{
    position: sticky;
    top: 100px;

    label{
        display: block;
        margin-block-end: 20px;

        &:not(.events_added){
            @include font(0.75rem, 400, $blue_grey);

            span{
                @include font(0.75rem, 500, $blue_grey);
                text-transform: capitalize;
            }
        }
        &.events_added{
            @include font(1.25rem, 400, $blue_grey);

            span{
                display: block;
                @include font(2.5rem, 400, $blue_grey);
            }
        }
    }
}