<div class="title_bar">
    <button mat-button (click)="back()">
        <svg xmlns="http://www.w3.org/2000/svg" width="29" height="19.957" viewBox="0 0 29 19.957">
            <g id="arrow-pointing-to-right" transform="translate(29 61.873) rotate(180)">
                <path id="Path_337" data-name="Path 337" d="M28.605,50.941l-8.63-8.63a1.348,1.348,0,1,0-1.907,1.907L24.4,50.546H1.348a1.348,1.348,0,0,0,0,2.7H24.4l-6.328,6.328a1.348,1.348,0,0,0,1.907,1.907l8.63-8.63A1.348,1.348,0,0,0,28.605,50.941Z" fill="#272e33"/>
            </g>
        </svg>
    </button>
    <h2>Assign Work</h2>
</div>
<div class="profile_details">
    <div class="row">
        <div class="col col-3">
            <div>
                <img src="{{profile.src}}">
                <h3>{{collegeName}}</h3>
                <h5>
                    <svg xmlns="http://www.w3.org/2000/svg" width="11.178" height="15.432" viewBox="0 0 11.178 15.432"><path d="M76.162,0a5.6,5.6,0,0,0-5.589,5.589c0,3.825,5,9.439,5.215,9.676a.5.5,0,0,0,.749,0c.213-.237,5.215-5.852,5.215-9.676A5.6,5.6,0,0,0,76.162,0Zm0,8.4a2.812,2.812,0,1,1,2.812-2.812A2.815,2.815,0,0,1,76.162,8.4Z" transform="translate(-70.573 0)" fill="#0277bd"/></svg>
                    {{city}}
                </h5>
                <button mat-raised-button class="assign" (click)="assign()" *ngIf= "profile.status == 'unassigned' && assign_status">Assign</button>
                <button mat-raised-button class="update" (click)="assign()" *ngIf= "profile.status == 'assigned' && assign_status">Update</button>
                <button mat-raised-button class="update" (click)="assign()" *ngIf= "!assign_status">Show history</button>
            </div>
        </div>
        <div class="col col-9">
            <div class="row">
                <div class="col col-6">
                    <label>
                        Name&nbsp;:&nbsp;
                        <span>{{name}}</span>
                    </label>
                    <label>
                        Degree&nbsp;:&nbsp;
                        <span *ngFor="let department of departments">{{degree}}&nbsp;</span>
                    </label>
                    <label>
                        College Name&nbsp;:&nbsp;
                        <span *ngFor="let department of departments">{{collegeName}}&nbsp;</span>
                    </label>
                </div>
                <!-- <div class="col col-6">
                    <div class="courses">
                        <label>Courses&nbsp;:&nbsp;</label>
                        <div *ngFor="let course of prf_details.courses">
                            <img src="{{course.icon}}" alt="{{course.name}}">
                            <span>{{course.name}}</span>
                        </div>
                    </div>
                    <div class="contact">
                        <mat-card *ngFor="let official of officials">
                            <mat-card-content>
                                <h4>{{official.name}}<span>({{official.designation}})</span></h4>
                                <i>{{official.mailid}}</i>
                                <i>{{official.mobile}}</i>
                                <img src="{{official.photo}}" alt="{{official.name}}">
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <div class="btn_grp">
        <button mat-button>
            <svg xmlns="http://www.w3.org/2000/svg" width="15.167" height="14.883" viewBox="0 0 15.167 14.883">
                <g transform="translate(-5.6 -6.9)">
                    <g transform="translate(5.6 6.9)">
                        <path
                            d="M20.313,114.3H6.228a.53.53,0,0,0-.528.528.539.539,0,0,0,.528.528h14.1a.53.53,0,0,0,.528-.528A.542.542,0,0,0,20.313,114.3Z"
                            transform="translate(-5.687 -100.472)" fill="#607d8b" />
                        <path
                            d="M5.613,16.054,5.6,18.565a.545.545,0,0,0,.154.386.516.516,0,0,0,.373.154l2.5-.013A.516.516,0,0,0,9,18.938l8.626-8.626a.544.544,0,0,0,0-.76l-2.472-2.5a.544.544,0,0,0-.76,0L12.668,8.793l-6.9,6.888A.573.573,0,0,0,5.613,16.054ZM14.78,8.187l1.738,1.738-.978.978L13.8,9.166Zm-8.1,8.1,6.36-6.36,1.738,1.738L8.42,18.011l-1.751.013Z"
                            transform="translate(-5.6 -6.9)" fill="#607d8b" />
                    </g>
                </g>
            </svg>
            edit
        </button>
        <button mat-button>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15"
                height="15" viewBox="0 0 15 15">
                <g id="Mask_Group_9" data-name="Mask Group 9" transform="translate(-856 -186)"
                    clip-path="url(#clip-path)">
                    <g id="recycling-bin" transform="translate(856 186)">
                        <g id="_x34__19_">
                            <g id="Group_25" data-name="Group 25">
                                <path id="Path_11" data-name="Path 11"
                                    d="M9.844,13.125a.469.469,0,0,0,.469-.469V7.031a.469.469,0,1,0-.937,0v5.625A.469.469,0,0,0,9.844,13.125Zm2.812-11.25H9.844V.938A.937.937,0,0,0,8.906,0H6.094a.937.937,0,0,0-.938.938v.938H2.344a.937.937,0,0,0-.938.938V3.75a.938.938,0,0,0,.938.938v8.438A1.875,1.875,0,0,0,4.219,15h6.563a1.875,1.875,0,0,0,1.875-1.875V4.688a.938.938,0,0,0,.938-.938V2.812A.937.937,0,0,0,12.656,1.875ZM6.094,1.406A.469.469,0,0,1,6.562.937H8.438a.469.469,0,0,1,.469.469v.469H6.094Zm5.625,11.719a.938.938,0,0,1-.937.937H4.219a.938.938,0,0,1-.938-.937V4.688h8.438Zm.469-9.375H2.812a.469.469,0,0,1,0-.938h9.375a.469.469,0,0,1,0,.938ZM5.156,13.125a.469.469,0,0,0,.469-.469V7.031a.469.469,0,1,0-.938,0v5.625A.469.469,0,0,0,5.156,13.125Zm2.344,0a.469.469,0,0,0,.469-.469V7.031a.469.469,0,1,0-.938,0v5.625A.469.469,0,0,0,7.5,13.125Z"
                                    fill="#607d8b" />
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
            delete
        </button>
    </div>
</div>
<div class="history" *ngIf= "assign_status">
    <div class="head">
        <h3>Training Class History</h3>
        <h5>Class taken:&nbsp;{{prf_history.cls_total}}</h5>
    </div>
    <div *ngFor="let class_list of prf_history.cls_list">
        <!-- <label class="history_date">
            <span>{{class_list.date | date: 'dd'}}</span>
            <span>{{class_list.date | date: 'MMM, y'}}</span>
        </label> -->
        <!-- <div class="card_list">
            <div class="row">
                <div class="col col-4" *ngFor="let class of class_list.list">
                    <mat-card>
                        <img src="{{class.lang_icon}}">
                        <mat-card-content>
                            <h4>{{class.topic}}<span>({{class.language}})</span></h4>
                            <i>at {{class.colg}}</i>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div> -->
    </div>
</div>
<div class="history assign_history" *ngIf= "!assign_status">
    <div class="head">
        <h3>Assign Trainee</h3>
        <h5>Total no. of Classes:&nbsp;{{prf_details.n_class}}</h5>
    </div>
    <div class="row">
        <div class="col col-4">
            <div class="assigned_trainees" *ngFor="let assigned of prf_history.assign_list">
                <label class="history_date">
                    <span>{{assigned.date | date: 'dd'}}</span>
                    <span>{{assigned.date | date: 'MMM, y'}}</span>
                </label>
                <div class="card_list">
                    <mat-card>
                        <mat-card-content>
                            <h2 *ngFor="let trainee of assigned.trainees">
                                <img src="{{trainee.photo}}">
                                <span>{{trainee.name}}</span>
                            </h2>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-button>
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15"
                                    height="15" viewBox="0 0 15 15">
                                    <g id="Mask_Group_9" data-name="Mask Group 9" transform="translate(-856 -186)"
                                        clip-path="url(#clip-path)">
                                        <g id="recycling-bin" transform="translate(856 186)">
                                            <g id="_x34__19_">
                                                <g id="Group_25" data-name="Group 25">
                                                    <path id="Path_11" data-name="Path 11"
                                                        d="M9.844,13.125a.469.469,0,0,0,.469-.469V7.031a.469.469,0,1,0-.937,0v5.625A.469.469,0,0,0,9.844,13.125Zm2.812-11.25H9.844V.938A.937.937,0,0,0,8.906,0H6.094a.937.937,0,0,0-.938.938v.938H2.344a.937.937,0,0,0-.938.938V3.75a.938.938,0,0,0,.938.938v8.438A1.875,1.875,0,0,0,4.219,15h6.563a1.875,1.875,0,0,0,1.875-1.875V4.688a.938.938,0,0,0,.938-.938V2.812A.937.937,0,0,0,12.656,1.875ZM6.094,1.406A.469.469,0,0,1,6.562.937H8.438a.469.469,0,0,1,.469.469v.469H6.094Zm5.625,11.719a.938.938,0,0,1-.937.937H4.219a.938.938,0,0,1-.938-.937V4.688h8.438Zm.469-9.375H2.812a.469.469,0,0,1,0-.938h9.375a.469.469,0,0,1,0,.938ZM5.156,13.125a.469.469,0,0,0,.469-.469V7.031a.469.469,0,1,0-.938,0v5.625A.469.469,0,0,0,5.156,13.125Zm2.344,0a.469.469,0,0,0,.469-.469V7.031a.469.469,0,1,0-.938,0v5.625A.469.469,0,0,0,7.5,13.125Z"
                                                        fill="#607d8b" />
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </button>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>
        </div>
        <div class="col col-4">
            <form class="assign_form">
                <mat-form-field>
                    <input matInput placeholder="Assign Date" >
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Choose Trainees" >
                </mat-form-field>
                <button mat-raised-button color="accent">Add Event</button>
            </form>
        </div>
        <div class="col col-4">
            <div class="assign_details">
                <label class="events_added">
                    <span>05</span>
                    Events added
                </label>
                <label>
                    No. of Students:&nbsp;
                    <span>{{prf_details.total_std}}</span>
                </label>
                <label>
                    Classes at:&nbsp;
                    <span>{{prf_details.days}}</span>,&nbsp;
                    <span>{{prf_details.time}}</span>
                </label>
                <label>
                    Courses:&nbsp;
                    <span *ngFor="let course of prf_details.courses">{{course.name}}&nbsp;</span>
                </label>
                <button mat-raised-button color="accent">Assign Events</button>
            </div>
        </div>
    </div>
</div>