<mat-sidenav-container class="sidenav_container">
    <mat-sidenav mode="side" opened>
      <div class="nav_profile">
          <label class="profile_img">
              <span>{{initial}}</span>
              <!-- <img src="" alt=""> -->
          </label>
          <h2>{{name}}</h2>
          <p>
              (Student)
              <svg xmlns="http://www.w3.org/2000/svg" width="5.208" height="9.136" viewBox="0 0 5.208 9.136"><path d="M102.159,5.02,98.231,8.948a.64.64,0,0,1-.9-.9L100.8,4.568,97.326,1.092a.64.64,0,0,1,.9-.9l3.928,3.928a.64.64,0,0,1,0,.9Z" transform="translate(-97.139 0)" fill="#b6c4cb"/></svg>
          </p>
          <a mat-button routerLink="/"></a>
      </div>
      <div class="nav_menu">
          <a mat-button routerLink="/student/dashboard_student" routerLinkActive="active">
              <svg xmlns="http://www.w3.org/2000/svg" width="17.143" height="17.143" viewBox="0 0 17.143 17.143"><g transform="translate(0)"><path d="M15.134,1.339h-.8V0H12.991V1.339H4.152V0H2.813V1.339h-.8A2.011,2.011,0,0,0,0,3.348V15.134a2.011,2.011,0,0,0,2.009,2.009H15.134a2.011,2.011,0,0,0,2.009-2.009V3.348A2.011,2.011,0,0,0,15.134,1.339Zm.67,13.795a.67.67,0,0,1-.67.67H2.009a.67.67,0,0,1-.67-.67V6.295H15.8Zm0-10.179H1.339V3.348a.67.67,0,0,1,.67-.67h.8V4.018H4.152V2.679h8.839V4.018h1.339V2.679h.8a.67.67,0,0,1,.67.67Z" fill="#272e33"/><g transform="translate(2.857 7.857)"><g transform="translate(0 0)"><rect width="1" height="1" transform="translate(0.143 0.143)" fill="#272e33"/></g></g><g transform="translate(5 7.857)"><g transform="translate(0 0)"><rect width="1" height="1" transform="translate(0 0.143)" fill="#272e33"/></g></g><g transform="translate(7.857 7.857)"><g transform="translate(0 0)"><rect width="1" height="1" transform="translate(0.143 0.143)" fill="#272e33"/></g></g><g transform="translate(10.714 7.857)"><g transform="translate(0 0)"><rect width="1" height="1" transform="translate(0.286 0.143)" fill="#272e33"/></g></g><g transform="translate(12.857 7.857)"><g transform="translate(0 0)"><rect width="1" height="1" transform="translate(0.143 0.143)" fill="#272e33"/></g></g><g transform="translate(2.857 10.714)"><g transform="translate(0 0)"><rect width="1" height="1" transform="translate(0.143 0.286)" fill="#272e33"/></g></g><g transform="translate(5 10.714)"><g transform="translate(0 0)"><rect width="1" height="1" transform="translate(0 0.286)" fill="#272e33"/></g></g><g transform="translate(7.857 10.714)"><g transform="translate(0 0)"><rect width="1" height="1" transform="translate(0.143 0.286)" fill="#272e33"/></g></g><g transform="translate(10.714 10.714)"><g transform="translate(0 0)"><rect width="1" height="1" transform="translate(0.286 0.286)" fill="#272e33"/></g></g><g transform="translate(2.857 12.857)"><g transform="translate(0 0)"><rect width="1" height="1" transform="translate(0.143 0.143)" fill="#272e33"/></g></g><g transform="translate(5 12.857)"><g transform="translate(0 0)"><rect width="1" height="1" transform="translate(0 0.143)" fill="#272e33"/></g></g><g transform="translate(7.857 12.857)"><g transform="translate(0 0)"><rect width="1" height="1" transform="translate(0.143 0.143)" fill="#272e33"/></g></g><g transform="translate(10.714 12.857)"><g transform="translate(0 0)"><rect width="1" height="1" transform="translate(0.286 0.143)" fill="#272e33"/></g></g><g transform="translate(12.857 10.714)"><g transform="translate(0 0)"><rect width="1" height="1" transform="translate(0.143 0.286)" fill="#272e33"/></g></g></g></svg>
              Dashboard
          </a>
          <a mat-button routerLink="/student/daily_class" routerLinkActive="active">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19.697" viewBox="0 0 20 19.697"><g transform="translate(-0.001 -0.5)"><path d="M19.528,224.493a1.811,1.811,0,0,0-1.117-.468,1.6,1.6,0,0,0-1.229.468l-2.224,2.2a1.477,1.477,0,0,0-.15-.215,1.442,1.442,0,0,0-1.126-.5H10.568a6.385,6.385,0,0,1-1.7-.226,4.188,4.188,0,0,0-3.906.827,5.682,5.682,0,0,0-1.017,1.092l-.558-.542a.4.4,0,0,0-.275-.112h0a.4.4,0,0,0-.282.121L.111,229.952a.394.394,0,0,0,.012.558l4.589,4.37a.393.393,0,0,0,.553-.01l2.688-2.758a.4.4,0,0,0-.008-.56l-.234-.227.536-.06a8.514,8.514,0,0,1,.98-.057h4.736a3.556,3.556,0,0,0,1.943-.5l.013-.009a2.622,2.622,0,0,0,.5-.456l3.192-3.755a1.374,1.374,0,0,0-.085-2ZM4.974,234.042.952,230.213l2.166-2.249,4,3.88Zm14.04-8.063-3.192,3.755a1.84,1.84,0,0,1-.345.315,2.8,2.8,0,0,1-1.513.372H9.227a9.29,9.29,0,0,0-1.069.062l-1.178.132-2.466-2.393a4.907,4.907,0,0,1,.943-1.037,3.387,3.387,0,0,1,3.2-.678,7.171,7.171,0,0,0,1.912.255h3.113a.711.711,0,0,1,.708.77.852.852,0,0,1-.184.546.669.669,0,0,1-.536.225h-2.71a.393.393,0,0,0,0,.787h2.71a1.459,1.459,0,0,0,1.136-.5,1.616,1.616,0,0,0,.371-1l2.561-2.534a.921.921,0,0,1,1.258.021.593.593,0,0,1,.019.907Zm0,0" transform="translate(0 -214.792)"/><path d="M230.015,333.525a.393.393,0,1,0-.766.18l0,.016a.394.394,0,0,0,.383.3.4.4,0,0,0,.09-.01.393.393,0,0,0,.293-.473Zm0,0" transform="translate(-220.283 -319.724)"/><path d="M44.644,8.8h3.834a.947.947,0,0,0,.559-.182A.947.947,0,0,0,49.6,8.8h3.834a.947.947,0,0,0,.559-.182.947.947,0,0,0,.559.182h3.834a.954.954,0,0,0,.952-.953V6.06a2.063,2.063,0,0,0-1.122-1.844,2.269,2.269,0,1,0-3.495,0,2.061,2.061,0,0,0-.729.625,2.057,2.057,0,0,0-.729-.625,2.269,2.269,0,1,0-3.494,0,2.057,2.057,0,0,0-.729.625,2.059,2.059,0,0,0-.729-.625,2.269,2.269,0,1,0-3.494,0A2.063,2.063,0,0,0,43.691,6.06V7.848a.954.954,0,0,0,.953.953ZM56.464,1.287a1.483,1.483,0,1,1-1.483,1.483A1.484,1.484,0,0,1,56.464,1.287ZM55.442,4.795a2.261,2.261,0,0,0,2.044,0,1.278,1.278,0,0,1,1.06,1.266V7.848a.166.166,0,0,1-.166.166H54.547a.166.166,0,0,1-.166-.166V6.06A1.278,1.278,0,0,1,55.442,4.795Zm-3.93-3.508A1.483,1.483,0,1,1,50.03,2.769,1.484,1.484,0,0,1,51.512,1.287ZM50.49,4.795a2.261,2.261,0,0,0,2.044,0,1.278,1.278,0,0,1,1.06,1.266V7.848a.166.166,0,0,1-.166.166H49.6a.166.166,0,0,1-.166-.166V6.06A1.279,1.279,0,0,1,50.49,4.795ZM46.56,1.287a1.483,1.483,0,1,1-1.483,1.483A1.484,1.484,0,0,1,46.56,1.287ZM44.478,6.06a1.279,1.279,0,0,1,1.06-1.266,2.261,2.261,0,0,0,2.044,0,1.278,1.278,0,0,1,1.06,1.266V7.848a.166.166,0,0,1-.166.166H44.644a.166.166,0,0,1-.166-.166Zm0,0" transform="translate(-41.983)"/></g></svg>
              Daily Class
          </a>
          <a mat-button routerLink="/student/completed_courses" routerLinkActive="active">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="17" height="17" viewBox="0 0 17 17"><defs><clipPath id="a"><rect width="17" height="17" transform="translate(30 295.333)" fill="#272e33"/></clipPath></defs><g transform="translate(-30 -295.333)" clip-path="url(#a)"><g transform="translate(30 295.553)"><g transform="translate(0 0)"><path d="M8.667,15.817,1.155,12.354c.026.016-.665-.3-1.155-.577,0,.419.105,1.186.5,1.393l7.354,3.306a1.566,1.566,0,0,0,1.634,0l7.354-3.306c.363-.169.5-.965.5-1.393-.473.237-1.142.574-1.155.577Zm0-14.429c.054.063.04.013,0,0ZM.5,9.707l7.354,3.306a1.566,1.566,0,0,0,1.634,0l7.354-3.306c.363-.169.5-.965.5-1.393-.473.237-1.142.574-1.155.577L8.667,12.354,1.155,8.891c.026.016-.665-.3-1.155-.577C0,8.733.105,9.5.5,9.707Zm0-3.463L7.849,9.55a1.566,1.566,0,0,0,1.634,0l7.354-3.306a1.013,1.013,0,0,0,0-1.633L9.484.729a1.459,1.459,0,0,0-1.634,0L.5,4.612A.994.994,0,0,0,.5,6.244ZM8.667,1.388l7.511,4.04L8.667,8.593,1.155,5.428Z" transform="translate(0 -0.479)" fill="#272e33"/></g></g></g></svg>
              Courses
          </a>
          <a mat-button routerLink="/student/student_compiler" routerLinkActive="active">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="17" height="17" viewBox="0 0 17 17"><defs><clipPath id="a"><rect width="17" height="17" transform="translate(30 295.333)" fill="#272e33"/></clipPath></defs><g transform="translate(-30 -295.333)" clip-path="url(#a)"><g transform="translate(30 295.553)"><g transform="translate(0 0)"><path d="M8.667,15.817,1.155,12.354c.026.016-.665-.3-1.155-.577,0,.419.105,1.186.5,1.393l7.354,3.306a1.566,1.566,0,0,0,1.634,0l7.354-3.306c.363-.169.5-.965.5-1.393-.473.237-1.142.574-1.155.577Zm0-14.429c.054.063.04.013,0,0ZM.5,9.707l7.354,3.306a1.566,1.566,0,0,0,1.634,0l7.354-3.306c.363-.169.5-.965.5-1.393-.473.237-1.142.574-1.155.577L8.667,12.354,1.155,8.891c.026.016-.665-.3-1.155-.577C0,8.733.105,9.5.5,9.707Zm0-3.463L7.849,9.55a1.566,1.566,0,0,0,1.634,0l7.354-3.306a1.013,1.013,0,0,0,0-1.633L9.484.729a1.459,1.459,0,0,0-1.634,0L.5,4.612A.994.994,0,0,0,.5,6.244ZM8.667,1.388l7.511,4.04L8.667,8.593,1.155,5.428Z" transform="translate(0 -0.479)" fill="#272e33"/></g></g></g></svg>
              Compiler
          </a>
      </div>
      <div class="nav_footer">
          <a mat-button (click)="logout()">
              Logout
              <svg xmlns="http://www.w3.org/2000/svg" width="19.857" height="14.901" viewBox="0 0 19.857 14.901"><g transform="translate(-1 -59.95)"><g transform="translate(0 58.95)"><path d="M0,61.435v9.931a2.49,2.49,0,0,0,2.485,2.485h8.026A2.49,2.49,0,0,0,13,71.366V69.757a.492.492,0,1,0-.984,0v1.608a1.508,1.508,0,0,1-1.5,1.5H2.485a1.508,1.508,0,0,1-1.5-1.5V61.435a1.508,1.508,0,0,1,1.5-1.5h8.026a1.508,1.508,0,0,1,1.5,1.5v1.608a.492.492,0,0,0,.984,0V61.435a2.49,2.49,0,0,0-2.485-2.485H2.485A2.487,2.487,0,0,0,0,61.435Z" transform="translate(1 -57.95)" fill="#fff"/><path d="M212.433,155.412a.422.422,0,0,0,.6,0l.866-.866,2.008-2.008a.417.417,0,0,0,0-.592l-2.873-2.873a.419.419,0,0,0-.592.592l2.157,2.157h-7.873a.421.421,0,1,0,0,.842h7.87l-2.157,2.157A.413.413,0,0,0,212.433,155.412Z" transform="translate(-195.169 -143.95)" fill="#fff"/></g></g></svg>
          </a>
          <p>Powered by TechiDoods</p>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>