<div class="title_bar">
        <button mat-button (click)="back()">
            <svg xmlns="http://www.w3.org/2000/svg" width="29" height="19.957" viewBox="0 0 29 19.957">
                <g id="arrow-pointing-to-right" transform="translate(29 61.873) rotate(180)">
                    <path id="Path_337" data-name="Path 337" d="M28.605,50.941l-8.63-8.63a1.348,1.348,0,1,0-1.907,1.907L24.4,50.546H1.348a1.348,1.348,0,0,0,0,2.7H24.4l-6.328,6.328a1.348,1.348,0,0,0,1.907,1.907l8.63-8.63A1.348,1.348,0,0,0,28.605,50.941Z" fill="#272e33"/>
                </g>
            </svg>
        </button>
        <h2>Courses</h2>
    </div>
    <label class="course_label">
        <img src="../../../assets/img/c-programming.png" alt="">
        Basic C
    </label>
    <mat-tab-group color="accent" mat-align-tabs="end" animationDuration="0ms" class="course_tab">
        <mat-tab label="Topics">
            <div class="container-fluid">
                <div class="row">
                    <div class="col col-3 topic_list">
                        <ul *ngFor="let topic of topics">
                            <!-- <label>{{topic.date | date: 'dd MMM, y'}}</label> -->
                            <!-- <li *ngFor="let list of topic.list"> -->
                                <button mat-button id={{topic._id}} [ngClass]="{'active': selectedTopic === topic._id }" (click)="contentView(topic)">{{topic.name}}</button>
                            <!-- </li> -->
                        </ul>
                    </div>
                    <div class="col col-9 topic_content">
                        <h3 class="topic_name">{{topicName}}</h3>
                        <div class="topic_definition">
                            <p>
                                {{content}}
                            </p>
                            <!-- <h4>Syntax:</h4>
                            <p>int main() { expresssion1....}</p> -->
                        </div>
                        <div class="topic_Q_A">
                            <button mat-button class="run" (click)="runCompiler()" >
                                <svg xmlns="http://www.w3.org/2000/svg" width="18.409" height="18" viewBox="0 0 18.409 18"><g transform="translate(0 -2.161)"><path d="M85.61,2.161h-5.39a.85.85,0,1,0,0,1.7h3.337L75.4,12.016a.85.85,0,0,0,1.2,1.2L84.76,5.064V8.4a.85.85,0,1,0,1.7,0V3.012A.85.85,0,0,0,85.61,2.161Z" transform="translate(-68.052)" fill="#f94a46"/><path d="M14.079,38.677a.85.85,0,0,0-.85.85v8.358H1.7V36.358h8.861a.85.85,0,0,0,0-1.7H.85a.85.85,0,0,0-.85.85V48.736a.85.85,0,0,0,.85.85H14.079a.85.85,0,0,0,.85-.85V39.527A.85.85,0,0,0,14.079,38.677Z" transform="translate(0 -29.425)" fill="#f94a46"/></g></svg>
                                Run Compiler
                            </button>
                            <h4>Question:</h4>
                            <p>
                              {{question}}
                            </p>
                            <h4>Output:</h4>
                            <p> {{output}} </p>
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Particals" disabled> Content 2 </mat-tab>
    </mat-tab-group>