/* You can add global styles to this file, and also import other style files */
@import "./app/app.component.scss";


*, ::after, ::before {
    box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $light_grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $dark_grey;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $blue_grey;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; color: $font}

.course_tab {
  height: calc(100% - 110px);
  .mat-tab-body{
    margin-block-start: 30px;
  }
  .mat-tab-body-wrapper{
    height: 100%;
  }
  .mat-tab-label{
      @include font(16px, 500, $font);
      opacity: 0.5;
      min-width: 130px;
      padding: 0 15px;
      
      &.mat-tab-label-active {
          opacity: 1;
      }
  }
}