@import '../node_modules/@angular/material/theming';

@include mat-core();

$custom-primary: mat-palette($mat-light-blue, 800 );
$custom-accent:  mat-palette($mat-red);

$custom-warn:    mat-palette($mat-red);

$custom-app-theme: mat-light-theme($custom-primary, $custom-accent, $custom-warn);

@include angular-material-theme($custom-app-theme);